body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Changez la couleur de fond si nécessaire */
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
}


header h1 {
    color: white;
    width: 50%;
}
header i{
    width: 50%;
    color: #007BFF;
}
.connexion {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.formulaire {
    display: flex;
    flex-direction: column;
}

.formulaire label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
}

.formulaire input {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}

.formulaire button {
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.formulaire button:hover {
    background-color: #0056b3;
}
